@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-xs-4">
        <h2>What is this?</h2>
        <p>This tool was developed by Andrew Hill AKA Mdude™. Changes will be made as I continue to learn and develop my web development skills.</p>
    </div>
    <div class="col-xs-4">
        <h2>Questions?</h2>
        <p>If you have any questions feel free to shoot me an email at mdude2314@gmail.com or catch me in Discord/TeamSpeak.</p>
    </div>
    <div class="col-xs-4">
        <h2>Honestly...</h2>
        <p>This page is just here for branding. I was told to put my name all over it. :D</p>
    </div>
</div>
