@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME!</h1>
    <p class="lead">Welcome to your administration tool!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Under Construction</h2>
        <p>
            Please remember that this application is a very early build and still under
            construction. Keep this in mind if you encounter any bugs along the way.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Login Issues</h2>
        <p>
            If you are having trouble accessing anything you need access to in this tool, contact
            TheGoats267 to have these issues resolved ASAP!
        </p>
    </div>
</div>